name: Merge to Main Workflow
on:
  push: 
    branches: [main]
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Remove Previous Project Folder
        run: rm -r /projects/real_estate/real-state-frontend/
      - name: Create Project Folder
        run: mkdir /projects/real_estate/real-state-frontend/
      - name: Move new folder to Project Folder
        run: cp -r /projects/real_estate/actions-runner/real_estate_frontend/real-state-frontend/real-state-frontend/* /projects/real_estate/real-state-frontend/
      # - name: Build Docker Container
      #   run: docker compose -f docker-compose-prod.yml up --build --detach
