name: Merge to Main Workflow
on:
  push: 
    branches: [main]
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Create Project Folder if not exist and Remove Project Folder content if exist
        run:  mkdir -p /projects/real_estate/frontend/ && rm -rf /projects/real_estate/frontend/*
      - name: Move new folder to Project Folder
        run: cp -r /projects/real_estate/actions-runner/real_estate_frontend/real-state-frontend/real-state-frontend/* /projects/real_estate/frontend/
      - name: Copy environment variables files to Project Folder
        run: ln -sf /projects/real_estate/envs/.env /projects/real_estate/frontend/.env
      - name: Build Docker Container
        run: cd /projects/real_estate/frontend/ && docker compose -f docker-compose-prod.yml up --build --detach