name: Merge to Main Workflow
on:
  push: 
    branches: [main]
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Create Project Folder if not exist
        run: mkdir -p /projects/real_estate/real-state-frontend/
      - name: Remove Project Folder content if exist
        run: rm -rf /projects/real_estate/real-state-frontend/
      - name: Move new folder to Project Folder
        run: cp -r /projects/real_estate/actions-runner/real_estate_frontend/real-state-frontend/real-state-frontend/*ls /projects/real_estate/frontend/
      # - name: Build Docker Container
      #   run: docker compose -f docker-compose-prod.yml up --build --detach
